.content
    background-image: url(img/skate-2982423_1920.jpg)
    background-size: cover
    background-position-y: -200px;
    background-repeat: no-repeat
    position: fixed
    top: 0
    bottom: 0
    right: 0
    left: 0

.content__registration
    display: inline-flex
    flex-direction: column
    background-color: #fff
    opacity: .6
    border-radius: 4px
    position: absolute
    top: 50%
    left: 20px
    margin-top: -250px
    height: 500px
    width: 250px
    padding-left: 15px

.content__logIn
    display: inline-flex
    flex-direction: column
    background-color: #fff
    opacity: .6
    border-radius: 4px
    position: absolute
    top: 50%
    right: 20px
    margin-top: -150px
    height: 300px
    width: 250px
    padding-left: 15px

.main-title
    text-align: center
.label-name, .label-password
    margin-bottom: 5px


input
    display: block
    margin-bottom: 15px

button
    margin-right: 20px
    cursor: pointer

span
    cursor: pointer
    text-decoration: dotted
    text-decoration-line: underline