<main class="content">
  <section class="content__logIn">
    <h1 class="main-title" (click)="checkApi()">Booking App</h1>
    <form name="login-form" (ngSubmit)="submitForm(loginForm)" #loginForm="ngForm">
      <label for="loginFormName" class="label-name">Ім'я користувача</label>
      <input type="email" name="loginFormName" id="loginFormName" placeholder="Введіть email" required email [(ngModel)]="name" #email="ngModel">
      <label for="loginFormPassword" class="label-password">Пароль</label>
      <input type="password" name="loginFormPassword" id="loginFormPassword" placeholder="Введіть пароль" required [(ngModel)]="password"> 
      <button type="submit" [disabled]="!loginForm.valid">Увійти</button>
      <span>Зареєструватися</span>
      <p *ngIf="registration">Відсутній користувач необхідно зареєструватися</p>
      <p *ngIf="error.value">{{ error.text }}</p>
    </form>
  </section>
</main>
